Checks: >
  clang-analyzer-*,
  bugprone-*,
  misc-*,
  readability-*,
  google-*,
  -modernize-*,
  -cppcoreguidelines-*,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -google-runtime-references,
  -misc-include-cleaner

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: google

CheckOptions:
  - key:             readability-magic-numbers.IgnoreValues
    value:           '0,0.5,1,2.0F'
