Checks: >
  clang-analyzer-*,
  bugprone-*,
  misc-*,
  readability-*,
  google-*,
  modernize-*,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-*,
  -misc-include-cleaner,
  -misc-const-correctness

WarningsAsErrors: '*'
HeaderFilterRegex: '^(./src|./lib)'
FormatStyle: google
